

.b-example-divider {
  height: 3rem;
  background-color: black;
  border-color: black;
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em black, inset 0 .125em .5em black;

}

.bi {
  vertical-align: -.125em;
  
}

/* makes footer black */
footer {
  background-color: #212529;
  color: white;
}

p {
    margin-left: auto;
    margin-right: auto;
    width: 8em;
}

.nav-item {
  text-decoration: none;
    line-height:4.5em;
    margin-left: 1em;
  position: relative;
  left: -310px;




}

img {
  position: relative;
  left: -50px; 

}

/* makes  links have no underline and white sets a gap between text */
a {
   text-decoration: none;
    line-height:4.5em;
    margin-left: 2em;




}

/* space between link */


/*
.selected {
  color: grey;
} 
*/


